@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
div.cr.card {
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  min-height: 15rem;
  height: auto;
  width: 25rem;
  border-radius: 2px;
  min-width: 12rem;
  font-size: 16px;
  z-index: 1; }
  div.cr.card:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2); }
  div.cr.card .card-head {
    text-align: center;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    vertical-align: middle;
    height: auto;
    font-size: 25px;
    font-weight: bold;
    color: #4d4d4d;
    padding: 15px 10px 15px 20px;
    margin: auto;
    overflow: hidden; }
  div.cr.card .card-head.pink {
    background: #E91E63;
    color: #fff; }
  div.cr.card .card-head.blue {
    background: #2196F3;
    color: #fff; }
  div.cr.card .card-head.green {
    background: #00C853;
    color: #fff; }
  div.cr.card .card-head.indigo {
    background: #3F51B5;
    color: #fff; }
  div.cr.card .card-head.amber {
    background: #FFC107;
    color: #fff; }
  div.cr.card .card-head.red {
    background: #F44336;
    color: #fff; }
  div.cr.card .card-head.teal {
    background: #009688;
    color: #fff; }
  div.cr.card .card-head.orange {
    background: #FF9800;
    color: #fff; }
  div.cr.card .card-head.black {
    background: #000;
    color: #fff; }
  div.cr.card .card-body {
    vertical-align: middle;
    height: auto;
    padding: 15px 10px 15px 20px;
    margin: auto;
    font-size: 16px;
    background: #fff; }
  div.cr.card .card-body.pink {
    background: #E91E63;
    color: #fff; }
  div.cr.card .card-body.black {
    background: #000;
    color: #fff; }
  div.cr.card .card-body.blue {
    background: #2196F3;
    color: #fff; }
  div.cr.card .card-body.indigo {
    background: #3F51B5;
    color: #fff; }
  div.cr.card .card-body.green {
    background: #00C853;
    color: #fff; }
  div.cr.card .card-body.amber {
    background: #FFC107;
    color: #fff; }
  div.cr.card .card-body.red {
    background: #F44336;
    color: #fff; }
  div.cr.card .card-body.teal {
    background: #009688;
    color: #fff; }
  div.cr.card .card-body.orange {
    background: #FF9800;
    color: #fff; }
  div.cr.card .card-footer {
    position: relative;
    width: auto;
    height: auto;
    padding: 10px 5px;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: #4d4d4d;
    font-size: 16px;
    border-top-right-radius: none;
    border-top-left-radius: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #4d4d4d; }
    div.cr.card .card-footer * {
      display: inline; }
  div.cr.card .card-footer.blue {
    background: #2196F3;
    color: #fff; }
  div.cr.card .card-footer.green {
    background: #00C853;
    color: #fff; }
  div.cr.card .card-footer.red {
    background: #F44336;
    color: #fff; }
  div.cr.card .card-footer.amber {
    background: #FFC107;
    color: #fff; }
  div.cr.card .card-footer.indigo {
    background: #3F51B5;
    color: #fff; }
  div.cr.card .card-footer.pink {
    background: #E91E63;
    color: #fff; }
  div.cr.card .card-footer.teal {
    background: #009688;
    color: #fff; }
  div.cr.card .card-footer.black {
    background: #000;
    color: #fff; }
  div.cr.card .card-footer.orange {
    background: #FF9800;
    color: #fff; }
  @media screen and (max-width: 767px) {
    div.cr.card {
      width: auto;
      max-width: 99%; }
      div.cr.card .card-footer {
        width: auto;
        margin-top: -30px;
        position: relative; } }

.cr.card.pulse {
  overflow: hidden; }

.cr.card.blue {
  background: #2196F3;
  color: #fff; }

.cr.card.pink {
  background: #E91E63;
  color: #fff; }

.cr.card.green {
  background: #00C853;
  color: #fff; }

.cr.card.indigo {
  background: #3F51B5;
  color: #fff; }

.cr.card.amber {
  background: #fcbd00;
  color: #fefefe; }

.noraise {
  box-shadow: 0 1px 1px 0 rgba(158, 158, 158, 0.6) !important; }

div.cr.card.small {
  width: 20rem; }
  div.cr.card.small .card-footer {
    height: auto;
    padding: 10px 5px;
    vertical-align: middle;
    margin: 0 auto; }

div.cr.card.medium {
  width: 35rem; }

div.cr.card.adaptive {
  width: 100%; }

.bold {
  font-weight: bold; }

label {
  width: 100px;
  padding-top: 5px;
  position: relative;
  display: inline-block; }

input {
  position: relative;
  height: 36px;
  font-size: 16px;
  font-family: "Nunito", open-sans;
  border-radius: 2px;
  margin: 0;
  border: 1px solid #BDBDBD;
  padding: 2px 8px 2px 8px;
  outline: none;
  transition: border-color 0.3s, background 0.3s; }
  input:focus {
    border-color: #2196F3; }

input.green-outline {
  border: 1px solid #00C853; }

input.blue-outline {
  border: 1px solid #2196F3; }

input.red-outline {
  border: 1px solid #F44336; }

input.pink-outline {
  border: 1px solid #E91E63; }

input.green-font {
  color: #00C853; }

input.red-font {
  color: #F44336; }

input.pink-font {
  color: #E91E63; }

input.blue-font {
  color: #2196F3; }

input.rounded {
  border-radius: 50px;
  padding: 2px 12px 2px 12px; }

input.dark-background {
  border: 2px solid #fff;
  background: #000;
  color: #fff; }

input.dark-background.blue {
  border: 2px solid #2196F3;
  background: #000;
  color: #fff; }

input.dark-background.green {
  border: 2px solid #00C853;
  background: #000;
  color: #fff; }

input.dark-background.red {
  border: 2px solid #F44336;
  background: #000;
  color: #fff; }

input.error {
  background: rgba(244, 67, 54, 0.1);
  border-color: #B71C1C;
  color: #B71C1C; }

input.done {
  background: rgba(0, 200, 83, 0.2);
  border-color: #8BC34A;
  color: #000; }

input.has-text {
  border-color: #2196F3; }

div.cr.input.basic {
  position: relative;
  height: 32px;
  margin: 4px 2px 10px 2px;
  vertical-align: middle;
  padding: 16px 0 8px 0;
  width: 100%; }
  div.cr.input.basic span:before, div.cr.input.basic input:before {
    text-align: left;
    box-sizing: content-box;
    vertical-align: baseline; }
  div.cr.input.basic span.cr-message.error:before {
    content: "X";
    font-weight: bold;
    position: relative;
    display: inline-block;
    font-size: 12px;
    width: 20px;
    height: 36px;
    color: #B71C1C; }
  div.cr.input.basic span.cr-message.done:after {
    content: "";
    display: inline-block;
    width: 4.5px;
    font-weight: bold;
    height: 9px;
    border: solid #00C853;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); }

div.cr.input.label {
  margin: 4px 2px 10px 2px;
  position: relative;
  white-space: nowrap;
  display: inline-block; }
  div.cr.input.label input {
    left: -4px;
    display: inline-block; }
  div.cr.input.label div.label {
    padding-top: 9.5px;
    padding-left: 20px;
    padding-right: 18px;
    background: #ebebeb;
    color: #4d4d4d;
    height: 31px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0.5px solid #d1d1d1;
    border-right: 0px;
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: bold; }
  div.cr.input.label div.label.blue {
    background: #2196F3;
    color: #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0.5px solid #2196F3;
    border-right: 0px; }
  div.cr.input.label div.label.green {
    background: #00C853;
    color: #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0.5px solid #00C853;
    border-right: 0px; }
  div.cr.input.label div.label.teal {
    background: #009688;
    color: #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0.5px solid #009688;
    border-right: 0px; }
  div.cr.input.label div.label.pink {
    background: #E91E63;
    color: #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0.5px solid #E91E63;
    border-right: 0px; }
  div.cr.input.label div.label.red {
    background: #F44336;
    color: #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0.5px solid #F44336;
    border-right: 0px; }
  div.cr.input.label div.ender {
    padding-top: 9.5px;
    padding-left: 20px;
    padding-right: 18px;
    left: -5px;
    background: #ebebeb;
    color: #4d4d4d;
    height: 31px;
    margin: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 0.5px solid #d1d1d1;
    border-left: 0px;
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: bold; }
  div.cr.input.label button.ender {
    padding-top: 0.3rem;
    position: relative;
    padding-left: 1.5rem;
    outline: none;
    padding-right: 1.5rem;
    padding-bottom: 0.2rem;
    font-size: 12px;
    left: -5px;
    background: #ebebeb;
    color: #4d4d4d;
    height: 2.62rem;
    margin: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 0.5px solid #d1d1d1;
    border-left: 0px;
    display: inline;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s; }
    div.cr.input.label button.ender:active {
      background: #d1d1d1; }

/*-----------------------------------MATERIAL INPUT ------------------------- */
.cr-material-field {
  position: relative;
  height: 52px;
  padding: 16px 0 8px 0;
  width: 100%; }

.cr-material-field:after, .cr-material-field:before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #e7e7e7;
  position: absolute;
  bottom: 6px;
  -webkit-transition: height 0.3s ease-out;
  -o-transition: height 0.3s ease-out;
  -moz-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
  left: 0; }

.cr-material-field:after {
  background-color: #E91E63;
  transform: scaleX(0);
  -webkit-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  transition: transform 0.3s; }

.is-focused .m-label {
  color: #E91E63; }

.is-focused:after, .m-label:after {
  transform: scaleX(1);
  height: 2px; }

.has-label .m-label {
  transform: translateY(0) scale(0.75); }

.m-input {
  position: relative;
  display: block;
  width: 100%;
  height: 38px;
  padding-bottom: 2px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: "Nunito", open-sans;
  line-height: 16px;
  font-size: 16px;
  background: transparent;
  outline: none;
  border: none;
  -webkit-appearance: none; }

.m-label {
  position: relative;
  margin: 0;
  color: #bfbfbf;
  line-height: 16px;
  font-weight: 400px;
  font-size: 16px;
  display: block;
  transform: translateY(24px);
  -webkit-transition: transform 0.3s, font-size 0.3s;
  -o-transition: transform 0.3s, font-size 0.3s;
  -moz-transition: transform 0.3s, font-size 0.3s;
  transition: transform 0.3s, font-size 0.3s;
  transform-origin: 0 50%; }

span.m-cr-state[data-error].error:before {
  content: attr(data-error);
  width: 30px;
  heigh: 20px;
  position: relative;
  color: #F44336;
  display: none;
  visibility: hidden;
  white-space: nowrap;
  font-size: 12px; }

span.m-cr-state[data-positive].done:before {
  content: attr(data-positive);
  width: 30px;
  height: 20px;
  position: relative;
  color: #00C853;
  display: none;
  visibility: hidden;
  white-space: nowrap;
  font-size: 12px; }

span.m-cr-state.error.show:before {
  display: block;
  visibility: visible; }

span.m-cr-state.done.show:before {
  display: block;
  visibility: visible; }

.cr.input.medium input {
  width: 250px; }

div.cr.input.large input {
  width: 420px; }

div.cr.input.adaptive {
  display: flex; }
  div.cr.input.adaptive input {
    width: 100%; }

input.cr.input.error {
  border: 0.5px solid #F44336; }

.text-white {
  color: #fff !important; }

.text-black {
  color: #000 !important; }

div.cr.snackbar {
  visibility: hidden;
  position: absolute;
  font-size: 14px;
  font-family: "Nunito", open-sans;
  background-color: #404040;
  color: #fff;
  height: 20px;
  z-index: 1;
  justify-content: space-around;
  border-radius: 2px;
  display: flex;
  position: fixed;
  box-shadow: 0 2px 1px -1px #9E9E9E;
  margin-left: -80px;
  min-width: 250px;
  padding: 16px;
  margin: 0 auto;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); }
  div.cr.snackbar button.snack.action {
    color: #FFEB3B;
    font-weight: bold;
    font-size: 12px;
    outline: none;
    border: none;
    background: none;
    padding-left: 10px;
    transition: background-color 0.3s; }
    div.cr.snackbar button.snack.action:active {
      background-color: #383838; }
  @media screen and (max-width: 767px) {
    div.cr.snackbar {
      bottom: 0%;
      bottom: -30px; }
    @-webkit-keyframes fadein {
      from {
        bottom: -60px; }
      to {
        bottom: -30px;
        opacity: 1; } }
    @keyframes fadein {
      from {
        bottom: -60px; }
      to {
        bottom: -30px;
        opacity: 1; } } }
  @media screen and (min-width: 768px) {
    div.cr.snackbar {
      bottom: 0%;
      bottom: -30px; }
    @-webkit-keyframes fadein {
      from {
        bottom: -60px; }
      to {
        bottom: -30ox;
        opacity: 1; } }
    @keyframes fadein {
      from {
        bottom: -60px; }
      to {
        bottom: -30px;
        opacity: 1; } } }
  @media screen and (max-width: 1199px) and (min-width: 992px) {
    div.cr.snackbar {
      bottom: 4%; }
    @-webkit-keyframes fadein {
      from {
        bottom: 0;
        opacity: 0; }
      to {
        bottom: 30px;
        opacity: 1; } }
    @keyframes fadein {
      from {
        bottom: 0; }
      to {
        bottom: 30px;
        opacity: 1; } } }
  @media screen and (min-width: 1200px) {
    div.cr.snackbar {
      bottom: 4%; }
    @-webkit-keyframes fadein {
      from {
        bottom: 0;
        opacity: 0; }
      to {
        bottom: 30px;
        opacity: 1; } }
    @keyframes fadein {
      from {
        bottom: 0; }
      to {
        bottom: 30px;
        opacity: 1; } } }

div.cr.snackbar.white {
  background-color: #fcfcfc;
  color: #4d4d4d; }
  div.cr.snackbar.white button.snack.action {
    color: #4d4d4d; }
    div.cr.snackbar.white button.snack.action:active {
      background-color: #f2f2f2; }

div.cr.snackbar.i-green {
  background-color: #1DE9B6;
  color: #9C27B0;
  font-weight: bold; }
  div.cr.snackbar.i-green button.snack.action {
    color: #9C27B0; }
    div.cr.snackbar.i-green button.snack.action:active {
      background-color: #15d8a7; }

div.cr.snackbar.yellow {
  background-color: #FFEB3B;
  color: #404040; }
  div.cr.snackbar.yellow button.snack.action {
    color: #404040; }
    div.cr.snackbar.yellow button.snack.action:active {
      background-color: #ffe822; }

html {
  height: 100vh; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

body {
  font-family: "Nunito", sans-serif; }

div.cr-inline {
  float: left;
  display: inline-block;
  margin-left: 0.2rem;
  margin-right: 0.2rem; }

.cr.container {
  height: 100vh;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; }
  @media screen and (max-width: 767px) {
    .cr.container {
      width: auto;
      max-width: 90% !important; } }
  @media screen and (min-width: 768px) {
    .cr.container {
      width: 750px;
      max-width: 90% !important; } }
  @media screen and (max-width: 1199px) and (min-width: 992px) {
    .cr.container {
      width: 970px;
      margin-left: 25px;
      max-width: 90% !important; } }
  @media screen and (min-width: 1200px) {
    .cr.container {
      width: 1170px;
      margin-left: 35px;
      max-width: 90% !important; } }

/*-----------------------------------All  BUTTONS CODE---------------------------------------------------------- */
button.cr.button {
  outline: none;
  border: none;
  line-height: 2rem;
  overflow: hidden; }

.cr.button {
  background: #F5F5F5;
  border-radius: 0.15rem;
  overflow: hidden;
  color: #000;
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  user-select: none;
  position: relative;
  text-decoration: none;
  line-height: 2.2rem;
  padding-right: 20px;
  display: table;
  padding-left: 20px;
  cursor: pointer;
  height: 2.2rem; }

.cr.button.plain {
  border-radius: 0px; }

.cr.button.rounded {
  border-radius: 50px; }

.cr.button {
  transition: background-color 0.3s; }
  .cr.button:active {
    background: rgba(0, 0, 0, 0.2); }

.cr.button.small {
  min-width: 20px; }

.cr.button.medium {
  min-width: 140px; }

.cr.button.large {
  min-width: 220px; }

.cr.button.big {
  height: 3rem;
  line-height: 3rem; }

.cr.button.adaptive {
  width: 100%; }

/* -------------------------------|RAISED BUTTONS CODE|-------------------------------------------------------- */
.cr.button.raised {
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.cr.button.raised:active {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4); }

.cr.button.hoverable {
  -o-transition: box-shadow 0.3s;
  -moz-transition: background 0.3s, box-shadow 0.2s;
  -webkit-transition: background 0.3s, box-shadow 0.2s;
  transition: background 0.3s, box-shadow 0.3s; }
  .cr.button.hoverable:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3); }

/* --------------------------------------- OUTLINED BUTTONS -------------------------------------------------- */
.cr.button.outline {
  background: none;
  border: 1px solid #000;
  color: #000; }
  .cr.button.outline:hover {
    background: #000;
    color: #fff; }

.cr.button.outline.white {
  background: none;
  border: 1px solid #fff;
  color: #fff; }
  .cr.button.outline.white:hover {
    background: #fff;
    color: #000;
    border-color: #fff; }
  .cr.button.outline.white .ripple {
    background: #9E9E9E; }

.cr.button.outline.blue {
  background: none;
  border: 1px solid #03A9F4;
  color: #2196F3; }
  .cr.button.outline.blue:hover {
    background: #2196F3;
    color: #fff; }

.cr.button.outline.green {
  background: none;
  border: 1px solid #8BC34A;
  color: #00C853; }
  .cr.button.outline.green:hover {
    background: #00C853;
    color: #fff; }

.cr.button.outline.amber {
  background: none;
  border: 1px solid #FFC107;
  color: #FF9800; }
  .cr.button.outline.amber:hover {
    background: #FFC107;
    color: #fff; }

.cr.button.outline.indigo {
  background: none;
  border: 1px solid #3F51B5;
  color: #3F51B5; }
  .cr.button.outline.indigo:hover {
    background: #3F51B5;
    color: #fff; }

.cr.button.outline.red {
  background: none;
  border: 1px solid #B71C1C;
  color: #F44336; }
  .cr.button.outline.red:hover {
    background: #F44336;
    color: #fff; }

.cr.button.outline.pink {
  background: none;
  border: 1px solid #E91E63;
  color: #E91E63; }
  .cr.button.outline.pink:hover {
    background: #E91E63;
    color: #fff; }

.cr.button.outline.deep-purple {
  background: none;
  border: 1px solid #673AB7;
  color: #3F51B5; }
  .cr.button.outline.deep-purple:hover {
    background: #673AB7;
    color: #fff; }

.cr.button.outline.teal {
  background: none;
  border: 1px solid #009688;
  color: #009688; }
  .cr.button.outline.teal:hover {
    background: #009688;
    color: #fff; }

.cr.button.outline.gold {
  background: none;
  border: 1px solid #bf9b30;
  color: #bf9b30; }
  .cr.button.outline.gold:hover {
    background: #a67c00;
    border: 1px solid #a67c00;
    color: #fff; }

/*------------------------------------|COLOR VARIANTS NORMAL BUTTONS|-------------------------------------------------------- */
.cr.button.blue {
  background: #2196F3;
  color: #fff; }
  .cr.button.blue:active {
    background: #1565C0; }

.cr.button.white {
  background: #fff;
  border-radius: 1px;
  color: #1a1a1a; }
  .cr.button.white:hover {
    background: white; }
  .cr.button.white .ripple {
    background: #9E9E9E; }

.cr.button.deep-purple {
  background: #673AB7;
  color: #fff; }
  .cr.button.deep-purple:active {
    background: #311B92; }

.cr.button.gold {
  background: #bf9b30;
  color: #fff; }
  .cr.button.gold:active {
    background: #a67c00; }

.cr.button.green {
  background: #00C853;
  color: #fff; }
  .cr.button.green:active {
    background: #009900; }

.cr.button.red {
  background: #F44336;
  color: #fff; }
  .cr.button.red:active {
    background: #B71C1C; }

.cr.button.orange {
  background: #FF9800;
  color: #fff; }
  .cr.button.orange:active {
    background: #E65100; }

.cr.button.pink {
  background: #E91E63;
  color: #fff; }
  .cr.button.pink:active {
    background: #880E4F; }

.cr.button.light-blue {
  background: #03A9F4;
  color: #fff; }
  .cr.button.light-blue:active {
    background: #01579B; }

.cr.button.indigo {
  background: #3F51B5;
  color: #fff; }
  .cr.button.indigo:active {
    background: #1A237E; }

.cr.button.black {
  background: #000;
  color: #fff; }

.cr.button.teal {
  background: #009688;
  color: #fff; }
  .cr.button.teal:active {
    background: #004D40; }

.cr.button.amber {
  background: #FFC107;
  color: #fff; }
  .cr.button.amber:active {
    background: #FF6F00; }

.cr.button.blue.hoverable {
  background: #2196F3;
  color: #fff; }
  .cr.button.blue.hoverable:hover {
    background: #1565C0; }
  .cr.button.blue.hoverable:active {
    background: #1565C0; }

.cr.button.deep-purple.hoverable {
  background: #673AB7;
  color: #fff; }
  .cr.button.deep-purple.hoverable:hover {
    background: #4527A0; }
  .cr.button.deep-purple.hoverable:active {
    background: #673AB7; }

.cr.button.gold.hoverable {
  background: #bf9b30;
  color: #fff; }
  .cr.button.gold.hoverable:hover {
    background: #a67c00; }
  .cr.button.gold.hoverable:active {
    background: #bf9b30; }

.cr.button.green.hoverable {
  background: #00C853;
  color: #fff; }
  .cr.button.green.hoverable:hover {
    background: #00b300; }
  .cr.button.green.hoverable:active {
    background: #009900; }

.cr.button.red.hoverable {
  background: #F44336;
  color: #fff; }
  .cr.button.red.hoverable:hover {
    background: #D32F2F; }
  .cr.button.red.hoverable:active {
    background: #B71C1C; }

.cr.button.orange.hoverable {
  background: #FF9800;
  color: #fff; }
  .cr.button.orange.hoverable:hover {
    background: #F57C00; }
  .cr.button.orange.hoverable:active {
    background: #E65100; }

.cr.button.pink.hoverable {
  background: #E91E63;
  color: #fff; }
  .cr.button.pink.hoverable:hover {
    background: #C2185B; }
  .cr.button.pink.hoverable:active {
    background: #880E4F; }

.cr.button.light-blue.hoverable {
  background: #03A9F4;
  color: #fff; }
  .cr.button.light-blue.hoverable:hover {
    background: #0288D1; }
  .cr.button.light-blue.hoverable:active {
    background: #01579B; }

.cr.button.indigo.hoverable {
  background: #3F51B5;
  color: #fff; }
  .cr.button.indigo.hoverable:hover {
    background: #303F9F; }
  .cr.button.indigo.hoverable:active {
    background: #1A237E; }

.cr.button.black.hoverable {
  background: #000;
  color: #fff; }

.cr.button.teal.hoverable {
  background: #009688;
  color: #fff; }
  .cr.button.teal.hoverable:hover {
    background: #00796B; }
  .cr.button.teal.hoverable:active {
    background: #004D40; }

.cr.button.amber.hoverable {
  background: #FFC107;
  color: #fff; }
  .cr.button.amber.hoverable:hover {
    background: #FFA000; }
  .cr.button.amber.hoverable:active {
    background: #FF6F00; }

/*-------------------------------SIMPLE BUTTON------------------------------------ */
.cr.simple.button {
  color: #1a1a1a;
  background: none !important;
  transition: background 0.3s !important; }
  .cr.simple.button .ripple {
    background: #9E9E9E; }
  .cr.simple.button:active {
    background: #d1d1d1 !important; }
  .cr.simple.button:active {
    background: #d1d1d1 !important; }

.cr.simple.button.blue {
  color: #2196F3; }
  .cr.simple.button.blue .ripple {
    background: #2196F3; }
  .cr.simple.button.blue:active {
    background: #d1d1d1 !important; }

.cr.simple.button.white {
  color: #fff; }
  .cr.simple.button.white .ripple {
    background: #fff; }

.cr.simple.button.red {
  color: #F44336; }
  .cr.simple.button.red .ripple {
    background: #F44336; }

.cr.simple.button.gold {
  color: #bf9b30; }
  .cr.simple.button.gold .ripple {
    background: #bf9b30; }

.cr.simple.button.indigo {
  color: #3F51B5;
  transition: background-color 0.3s; }
  .cr.simple.button.indigo .ripple {
    background: #3F51B5; }

.cr.simple.button.green {
  color: #00C853; }
  .cr.simple.button.green .ripple {
    background: #00C853; }

.cr.simple.button.amber {
  color: #FFC107; }
  .cr.simple.button.amber .ripple {
    background: #FFC107; }

.cr.simple.button.purple {
  color: #9C27B0; }
  .cr.simple.button.purple .ripple {
    background: #9C27B0; }

.cr.simple.button.yellow {
  color: #FFEB3B; }
  .cr.simple.button.yellow .ripple {
    background: #FFEB3B; }

/*----- FLOATING BUTTON -------- */
button.button-float {
  position: fixed;
  width: 56px;
  outline: none;
  border: none;
  height: 56px;
  right: 40px;
  background-color: #E91E63;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  z-index: 3;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px #9E9E9E;
  bottom: 4%; }
  button.button-float i {
    text-align: center;
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 0 auto;
    padding: 2px;
    bottom: 0;
    transform: translate(-50%, -50%); }
  button.button-float:active {
    background-color: #c1134e;
    box-shadow: 0 6px 12px #9E9E9E; }

button.dark-bg {
  box-shadow: none !important; }

.pulse {
  overflow: hidden; }

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1; }

.ripple-active {
  animation: ripple-anim 0.4s linear; }

@-o-keyframes ripple-anim {
  100% {
    transform: scale(2);
    opacity: 0; } }
@-webkit-keyframes ripple-anim {
  100% {
    transform: scale(2);
    opacity: 0; } }
@-ms-keyframes ripple-anim {
  100% {
    transform: scale(2);
    opacity: 0; } }
@keyframes ripple-anim {
  100% {
    transform: scale(2);
    opacity: 0; } }

/*# sourceMappingURL=main.css.map */
