@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

body {
  font-family: "Nunito", sans-serif; }

div.cr-inline {
  float: left;
  display: inline-block;
  margin-left: 0.2rem;
  margin-right: 0.2rem; }

/*-----------------------------------All  BUTTONS CODE---------------------------------------------------------- */
.cr.button {
  background: #F5F5F5;
  border-radius: 0.15rem;
  color: #000;
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  white-space: nowrap;
  user-select: none;
  text-decoration: none;
  line-height: 2.2rem;
  padding-right: 20px;
  padding-left: 20px;
  display: table;
  cursor: pointer;
  height: 2.2rem;
  transition: all 0.3s ease 0s; }

.cr.button:hover {
  background: rgba(0, 0, 0, 0.1); }

/* -------------------------------|RAISED BUTTONS CODE|-------------------------------------------------------- */
.cr.button.raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: 0.3s; }

.cr.button.raised:active {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4); }

.cr.button.hoverable:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3); }

/* --------------------------------------- OUTLINED BUTTONS -------------------------------------------------- */
.cr.button.outline {
  background: none;
  border: 1px solid #000;
  color: #000; }
  .cr.button.outline:hover {
    background: #000;
    color: #fff; }

.cr.button.outline.blue {
  background: none;
  border: 1px solid #03A9F4;
  color: #2196F3; }
  .cr.button.outline.blue:hover {
    background: #2196F3;
    color: #fff; }

.cr.button.outline.green {
  background: none;
  border: 1px solid #8BC34A;
  color: #00C853; }
  .cr.button.outline.green:hover {
    background: #00C853;
    color: #fff; }

.cr.button.outline.amber {
  background: none;
  border: 1px solid #FFC107;
  color: #FF9800; }
  .cr.button.outline.amber:hover {
    background: #FFC107;
    color: #fff; }

.cr.button.outline.indigo {
  background: none;
  border: 1px solid #3F51B5;
  color: #3F51B5; }
  .cr.button.outline.indigo:hover {
    background: #3F51B5;
    color: #fff; }

.cr.button.outline.red {
  background: none;
  border: 1px solid #B71C1C;
  color: #F44336; }
  .cr.button.outline.red:hover {
    background: #F44336;
    color: #fff; }

.cr.button.outline.pink {
  background: none;
  border: 1px solid #E91E63;
  color: #E91E63; }
  .cr.button.outline.pink:hover {
    background: #E91E63;
    color: #fff; }

.cr.button.outline.deep-purple {
  background: none;
  border: 1px solid #673AB7;
  color: #3F51B5; }
  .cr.button.outline.deep-purple:hover {
    background: #673AB7;
    color: #fff; }

.cr.button.outline.teal {
  background: none;
  border: 1px solid #009688;
  color: #009688; }
  .cr.button.outline.teal:hover {
    background: #009688;
    color: #fff; }

.cr.button.outline.gold {
  background: none;
  border: 1px solid #e5c100;
  color: #e5c100; }
  .cr.button.outline.gold:hover {
    background: #e5c100;
    color: #fff; }

/*------------------------------------|COLOR VARIANTS NORMAL BUTTONS|-------------------------------------------------------- */
.cr.button.blue {
  background: #2196F3;
  color: #fff; }
  .cr.button.blue:hover {
    background: #1976D2; }

.cr.button.deep-purple {
  background: #673AB7;
  color: #fff; }
  .cr.button.deep-purple:hover {
    background: #512DA8; }

.cr.button.gold {
  background: #e5c100;
  color: #fff; }
  .cr.button.gold:hover {
    background: #998100; }

.cr.button.green {
  background: #00C853;
  color: #fff; }
  .cr.button.green:hover {
    background: #388E3C; }

.cr.button.red {
  background: #F44336;
  color: #fff; }
  .cr.button.red:hover {
    background: #D32F2F; }

.cr.button.white {
  background: #fff;
  color: #000;
  border: 0.5px solid #000; }
  .cr.button.white:hover {
    background: #E0E0E0; }

.cr.button.orange {
  background: #FF9800;
  color: #fff; }
  .cr.button.orange:hover {
    background: #E64A19; }

.cr.button.pink {
  background: #E91E63;
  color: #fff; }
  .cr.button.pink:hover {
    background: #C2185B; }

.cr.button.light-blue {
  background: #03A9F4;
  color: #fff; }
  .cr.button.light-blue:hover {
    background: #0288D1; }

.cr.button.indigo {
  background: #3F51B5;
  color: #fff; }
  .cr.button.indigo:hover {
    background: #303F9F; }

.cr.button.black {
  background: #000;
  color: #fff; }

.cr.button.teal {
  background: #009688;
  color: #fff; }
  .cr.button.teal:hover {
    background: #00796B; }

.cr.button.amber {
  background: #FFC107;
  color: #fff; }
  .cr.button.amber:hover {
    background: #FFA000; }

button {
  border: none;
  height: 2.8rem;
  line-height: 2.8rem; }

/*# sourceMappingURL=main.css.map */
