img.xsmall 
	max-width: 30% !important 
	height: auto 
img.small 
	max-width: 45% !important 
	height: auto 
img.medium 
	max-width: 65% !important 
	height: auto 


div.circle-img-box
	width: 50px 
	height: 50px 
	border-radius: 50% 
	border: 1px solid $gray
	box-sizing: border-box 
	img
		max-width: 100%

div.circle-img-box.small 
	width: 35px 
	height: 35px 


img.rounded 
	border-radius: 50% 

.centered 
	align-content: center 
	text-align: center 
	display: flex
	align-items: center 
	justify-content: center


.text-center
	align-content: center
	text-align: center  !important

