@import 'variables'
/*-----------------------------------All  BUTTONS CODE----------------------------------------------------------*/
button.cr.button
	outline: none 
	border: none
	line-height: 2.0rem
	overflow: hidden
	
.cr.button
	background: #F5F5F5
	border-radius: 0.15rem
	overflow: hidden
	color: $black
	font-family: 'Nunito', sans-serif
	text-align: center
	font-size: 0.9rem
	font-weight: bold
	user-select: none
	position: relative
	text-decoration: none
	line-height: 2.2rem
	padding-right: 20px
	display: table
	padding-left: 20px
	cursor: pointer
	height: 2.2rem

.cr.button.plain
	border-radius: 0 !important

.cr.button.rounded 
	border-radius: $button-radius
	
.cr.button
	transition: background-color 0.3s
	&:active
		background: rgba(0,0,0,0.2)

.cr.button.small
	min-width: $button-small-size

.cr.button.medium
	min-width: $button-medium-size

.cr.button.large
	min-width: $button-large-size

.cr.button.big 
	height: $button-big-height
	line-height: $button-big-height

.cr.button.adaptive
	width: 100%

	
/* -------------------------------|RAISED BUTTONS CODE|--------------------------------------------------------*/
.cr.button.raised
	-webkit-transition: box-shadow 0.3s
	-moz-transition: box-shadow 0.3s
	-o-transition: box-shadow 0.3s
	transition: box-shadow 0.3s
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)

.cr.button.raised
	&:active
		box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0, 0.12), 0 5px 5px -3px rgba(0,0,0, 0.4)

.cr.button.hoverable
	-o-transition: box-shadow 0.3s
	-moz-transition: background 0.3s, box-shadow 0.2s
	-webkit-transition: background 0.3s,box-shadow 0.2s
	transition: background 0.3s,box-shadow 0.3s
	&:hover
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3)
/* --------------------------------------- OUTLINED BUTTONS --------------------------------------------------*/
.cr.button.outline
	background: none 
	border: 1px solid $black 
	color: $black 
	&:hover 
		background: $black 
		color: $white

.cr.button.outline.white 
	background: none 
	border: 1px solid $white 
	color: $white 
	&:hover 
		background: $white 
		color: $black
		border-color: $white
	.ripple 
		background: $gray


.cr.button.outline.blue 
	background: none
	border: 1px solid $light-blue 
	color: $blue
	&:hover 
		background: $blue
		color: $white

.cr.button.outline.green 
	background: none 
	border: 1px solid $light-green
	color: $green 
	&:hover 
		background: $green 
		color: $white

.cr.button.outline.amber
	background: none 
	border: 1px solid $amber
	color: $orange 
	&:hover 
		background: $amber 
		color: $white 

.cr.button.outline.indigo
	background: none 
	border: 1px solid $indigo 
	color: $indigo
	&:hover 
		background: $indigo
		color: $white

.cr.button.outline.red
	background: none
	border: 1px solid $red-1
	color: $red
	&:hover
		background: $red
		color: $white

.cr.button.outline.pink
	background: none
	border: 1px solid $pink
	color: $pink
	&:hover
		background: $pink
		color: $white

.cr.button.outline.deep-purple
	background: none
	border: 1px solid $deep-purple
	color: $indigo
	&:hover
		background: $deep-purple
		color: $white

.cr.button.outline.teal
	background: none
	border: 1px solid $teal
	color: $teal
	&:hover
		background: $teal
		color: $white

.cr.button.outline.gold
	background: none
	border: 1px solid $gold
	color: $gold
	&:hover
		background: $gold-deep
		border: 1px solid $gold-deep
		color: $white
/*------------------------------------|COLOR VARIANTS NORMAL BUTTONS|--------------------------------------------------------*/
.cr.button.blue
	background: $blue 
	color: $white
	&:active
		background: #1565C0

.cr.button.white 
	background: $white 
	border-radius: 1px
	color: lighten($black, 10)
	&:hover 
		background: darken($white, .1) 
	.ripple 
		background: $gray

.cr.button.deep-purple
	background: $deep-purple
	color: $white
	&:active
		background: #311B92

.cr.button.gold
	background: $gold
	color: $white
	&:active
		background: $gold-deep 
		
.cr.button.green
	background: $green 
	color: $white
	&:active 
		background: #009900 

.cr.button.red
	background: $red
	color: $white
	&:active 
		background: #B71C1C 

.cr.button.orange
	background: $orange
	color: $white 
	&:active 
		background: #E65100

.cr.button.pink
	background: $pink
	color: $white 
	&:active
		background: #880E4F 

.cr.button.light-blue
	background: $light-blue
	color: $white
	&:active 
		background: #01579B

.cr.button.indigo
	background: $indigo
	color: $white 
	&:active 
		background: #1A237E 

.cr.button.black
	background: $black
	color: $white 


.cr.button.teal
	background: $teal 
	color: $white 
	&:active 
		background: #004D40 

.cr.button.amber 
	background: $amber
	color: $white 
	&:active 
		background: #FF6F00


.cr.button.blue.hoverable
	background: $blue 
	color: $white
	&:hover
		background: #1565C0
	&:active
		background: #1565C0

.cr.button.deep-purple.hoverable
	background: $deep-purple
	color: $white
	&:hover
		background: #4527A0
	&:active
		background: $deep-purple


.cr.button.gold.hoverable
	background: $gold
	color: $white
	&:hover 
		background: $gold-deep
	&:active
		background: $gold 
		

.cr.button.green.hoverable
	background: $green 
	color: $white
	&:hover
		background: #00b300
	&:active 
		background: #009900 

.cr.button.red.hoverable
	background: $red
	color: $white
	&:hover 
		background: #D32F2F
	&:active 
		background: #B71C1C 

.cr.button.orange.hoverable
	background: $orange
	color: $white
	&:hover 
		background: #F57C00
	&:active 
		background: #E65100

.cr.button.pink.hoverable
	background: $pink
	color: $white
	&:hover 
		background: #C2185B 
	&:active
		background: #880E4F

.cr.button.light-blue.hoverable
	background: $light-blue
	color: $white
	&:hover 
		background: #0288D1
	&:active 
		background: #01579B

.cr.button.indigo.hoverable
	background: $indigo
	color: $white
	&:hover 
		background: #303F9F 
	&:active 
		background: #1A237E 

.cr.button.black.hoverable
	background: $black
	color: $white 


.cr.button.teal.hoverable
	background: $teal 
	color: $white
	&:hover 
		background: #00796B 
	&:active 
		background: #004D40 

.cr.button.amber.hoverable 
	background: $amber
	color: $white
	&:hover 
		background: #FFA000 
	&:active 
		background: #FF6F00

/*-------------------------------SIMPLE BUTTON------------------------------------*/
.cr.simple.button 
	color: lighten($black, 10)
	background: none !important
	transition: background 0.3s !important
	.ripple 
		background: $gray
	&:active 
		background: lighten($gray, 30) !important 

.cr.simple.button.blue 
	color: $blue 
	.ripple 
		background: $blue


.cr.simple.button.white 
	color: $white 
	.ripple
		background: $white
	&:active 
		background: none !important 
		
.cr.simple.button.red 
	color: $red 
	.ripple 
		background: $red

.cr.simple.button.gold 
	color: $gold 
	.ripple 
		background: $gold 

.cr.simple.button.indigo 
	color: $indigo
	transition: background-color 0.3s 
	.ripple 
		background: $indigo

.cr.simple.button.green 
	color: $green 
	.ripple 
		background: $green 

.cr.simple.button.amber 
	color: $amber 
	.ripple 
		background: $amber 

.cr.simple.button.purple 
	color: $purple 
	.ripple 
		background: $purple 

.cr.simple.button.yellow
	color: $yellow 
	.ripple 
		background: $yellow
		 
/*----- FLOATING BUTTON --------*/
button.cr.button.float
	position: fixed 
	width: 56px
	outline: none
	border: none 
	height: 56px
	right: 40px
	background-color: $accent 
	color: $white 
	border-radius: 50px
	text-align: center
	z-index: 3
	transition: background-color 0.3s, box-shadow 0.3s 
	box-shadow: 0 4px 8px $gray
	bottom: 4%
	i
		text-align: center
		position: absolute
		-webkit-touch-callout: none 
		-webkit-user-select: none 
		-moz-user-select: none 
		-ms-user-select: none 
		user-select: none 
		margin-top: 0 auto
		padding: 2px
		bottom: 0 
		transform: translate(-50%, -50%)

	&:active 
		background-color: darken($accent, 10)
		box-shadow: 0 6px 12px $gray

button.dark-bg
	box-shadow: none !important

.cr.button.pulse
	overflow: hidden

.ripple
	width: 0
	height: 0
	border-radius: 50%
	background: rgba($white, .4)
	transform: scale(0)
	position: absolute 
	opacity: 1

.ripple-active 
	animation: ripple-anim .4s linear 


@-o-keyframes ripple-anim
	100%
		transform: scale(2)
		opacity: 0 
@-webkit-keyframes ripple-anim
	100% 
		transform: scale(2)
		opacity: 0 

@-ms-keyframes ripple-anim
	100%
		transform: scale(2)
		opacity: 0 

@keyframes ripple-anim
	100%
		transform: scale(2)
		opacity: 0 