@import 'variables'

div.cr.card
	box-shadow: 0 4px 8px 0 rgba($black, 0.2)
	transition: box-shadow 0.3s
	height: auto
	min-height: 15.0rem
	width: 20.0rem
	min-width: 12.0rem
	font-size: 16px
	border-radius: 2px
	z-index: 1
	background: darken($white, 1.2)
	.card-head
		text-align: center 
		display: block
		vertical-align: middle
		height: 30px
		font-weight: bold
		color: lighten($black, 30)
		padding: 15px 0px 10px 0
		margin: auto
		width: 100%
		border-bottom: 1px solid lighten($gray, 20)

	.card-body
		padding: 10px 5px 10px 5px
		font-size: 16px



	.card-footer




