@import 'variables'

div.cr.card
	position: relative 

	box-shadow: 0 2px 4px 0 rgba($black, .2)
	transition: box-shadow 0.3s
	min-height: 15.0rem

	height: auto 
	width: 25.0rem
	border-radius: 2px
	min-width: 12.0rem

	font-size: 16px
	z-index: 1
	// background: darken($white, 1.2)



	&:hover 
		box-shadow: 0  4px 10px 0 rgba($black, .2)

	.card-head
		text-align: center
		border-top-right-radius: 2px 
		border-top-left-radius: 2px
		vertical-align: middle
		height: auto
		font-size: 25px
		font-weight: bold
		color: lighten($black, 30)
		padding: 15px 10px 15px 20px
		margin: auto
		overflow: hidden

	.card-head.pink 
		background: $pink 
		color: $white 

	.card-head.blue 
		background: $blue 
		color: $white 

	.card-head.green 
		background: $green 
		color: $white 

	.card-head.indigo
		background: $indigo 
		color: $white 

	.card-head.amber 
		background: $amber 
		color: $white 

	.card-head.red 
		background: $red 
		color: $white 

	.card-head.teal 
		background: $teal
		color: $white 

	.card-head.orange 
		background: $orange 
		color: $white 

	.card-head.black 
		background: $black 
		color: $white 


	.card-body
		vertical-align: middle 
		height: auto 
		padding: 15px 10px 15px 20px
		margin: auto 
		font-size: 16px
		background: $white

	.card-body.pink 
		background: $pink 
		color: $white 

	.card-body.black
		background: $black 
		color: $white 

	.card-body.blue 
		background: $blue 
		color: $white 

	.card-body.indigo 
		background: $indigo
		color: $white 

	.card-body.green 
		background: $green 
		color: $white 

	.card-body.amber 
		background: $amber 
		color: $white 

	.card-body.red 
		background: $red 
		color: $white 

	.card-body.teal 
		background: $teal
		color: $white 

	.card-body.orange 
		background: $orange 
		color: $white 


	.card-footer
		position: relative
		width: auto

		height: auto
		padding: 10px 5px
		vertical-align: middle
		margin: 0 auto

		text-align: center

		font-weight: bold
		color: lighten($black, 30)
		font-size: 16px

		border-top-right-radius: none 
		border-top-left-radius: none 
		border-bottom-left-radius: 2px
		border-bottom-right-radius: 2px


		color: lighten($black, 30)
		// background: darken($white, 1.2)
		*
			display: inline

	.card-footer.blue 
		background: $blue 
		color: $white 
	.card-footer.green 
		background: $green
		color: $white 
	.card-footer.red 
		background: $red 
		color: $white 
	.card-footer.amber 
		background: $amber 
		color: $white 
	.card-footer.indigo 
		background: $indigo 
		color: $white 
	.card-footer.pink 
		background: $pink 
		color: $white 
	.card-footer.teal 
		background: $teal
		color: $white 
	.card-footer.black 
		background: $black 
		color: $white 
	.card-footer.orange 
		background: $orange 
		color: $white 


	@media screen and (max-width: 767px)
		width: auto
		max-width: 99%
		.card-footer
			width: auto
			margin-top: -30px
			position: relative


.cr.card.pulse 
	overflow: hidden 

.cr.card.blue 
	background: $blue 
	color: $white

.cr.card.pink 
	background: $pink 
	color: $white 

.cr.card.green 
	background: $green 
	color: $white 

.cr.card.indigo 
	background: $indigo 
	color: $white 

.cr.card.amber 
	background: darken($amber, 2)
	color: darken($white, .5)


.noraise
		box-shadow: 0 1px 1px 0 rgba($gray, .6) !important

div.cr.card.small 
	width: 20rem
	.card-footer
		height: auto
		padding: 10px 5px
		vertical-align: middle
		margin: 0 auto


div.cr.card.medium 
	width: 35rem

div.cr.card.adaptive 
	width: 100%
















