@import 'variables'

input.cr.input.basic
    background: none
    border: 0.5px solid #BDBDBD
    outline: none 
    height: 1.5rem
    min-width: 150px
    font-size: 16px
    border-radius: 0.2rem
    padding-left: 0.5rem
    padding-right: 0.5rem
    padding-top: 0.5rem
    padding-bottom: 0.5rem
    &:focus
        transition: 0.3s all ease 0s
        border: 0.5px solid $blue

/*-----------------------------------MATERIAL INPUT -------------------------*/

.material-field
    position: relative 
    height: 52px
    padding: 16px 0 8px 0
    width: $m-input-adaptive

.material-field
    &:after, &:before
        content: ''
        height: 1px 
        width: $m-input-adaptive
        background-color: #e7e7e7
        position: absolute
        bottom: 6px
        -webkit-transition: height 0.3s ease-out
        -o-transition: height 0.3s ease-out
        -moz-transition: height 0.3s ease-out
        transition: height 0.3s ease-out 
        left: 0 

.material-field
    &:after 
        background-color: $accent
        transform: scaleX(0)
        -webkit-transition: transform 0.3s
        -o-transition: transform 0.3s
        -moz-transition: transform 0.3s
        transition: transform 0.3s

.is-focused .m-label
    color: $accent


.is-focused, .m-label
    &:after
        transform: scaleX(1)
        height: 2px

.has-label .m-label
    transform: translateY(0) scale(0.75)

.m-input
    position: relative 
    display: block 
    width: $m-input-adaptive
    height: 38px
    padding-bottom: 2px
    padding-top: 0px
    padding-right: 0px
    padding-left: 0px
    font-family: 'Nunito', open-sans
    line-height: 16px
    font-size: 16px
    
    background: transparent
    outline: none 
    border: none
    -webkit-appearance: none 

.m-label
    position: relative 
    margin: 0
    color: lighten($black, 75)

    line-height: 16px
    font-weight: 400px
    font-size: 16px
    display: block

    transform: translateY(24px)

    -webkit-transition: transform 0.3s, font-size 0.3s
    -o-transition: transform 0.3s, font-size 0.3s
    -moz-transition: transform 0.3s, font-size 0.3s
    transition: transform 0.3s, font-size 0.3s

    transform-origin: 0 50%

span.cr-state[data-error].error
    &:before
        content: attr(data-error)
        width: 30px
        heigh: 20px
        position: relative
        color: $accent
        display: none
        visibility: hidden
        white-space: nowrap
        font-size: 12px

span.cr-state[data-positive].done
    &:before
        content: attr(data-positive)
        width: 30px
        height: 20px
        position: relative 
        color: $green
        display: none 
        visibility: hidden 
        white-space: nowrap
        font-size: 12px

span.cr-state.error.show
    &:before
        display: block
        visibility: visible

span.cr-state.done.show
    &:before
        display: block
        visibility: visible





input.medium
    width: 250px

input.large 
    width: 320px

input.adaptive
    width: 95%


input.cr.input.gold
    border: 0.5px solid $gold 

input.cr.input.green
    border: 0.5px solid $green

input.cr.input.error
    border: 0.5px solid $red