@import 'variables'

.bold
    font-weight: bold

    
label
    width: 100px
    padding-top: 5px
    position: relative
    display: inline-block

input
    position: relative
    height: 36px
    font-size: 16px
    font-family: 'Nunito', open-sans
    border-radius: 2px 
    border: 1px solid $input-border
    padding: 2px 8px 2px 8px
    outline: none
    transition: border-color 0.3s, background 0.3s 
    &:focus
        border-color: $blue

input.green-outline
    border: 1px solid $green

input.blue-outline
    border: 1px solid $blue 

input.red-outline
    border: 1px solid $red

input.pink-outline 
    border: 1px solid $pink

input.green-font
    color: $green 

input.red-font
    color: $red  

input.pink-font
    color: $pink 

input.blue-font
    color: $blue

input.rounded 
    border-radius: 50px
    padding: 2px 12px 2px 12px

input.dark-background
    border: 2px solid $white
    background: $black
    color: $white
       
input.dark-background.blue
    border: 2px solid $blue
    background: $black
    color: $white

input.dark-background.green
    border: 2px solid $green
    background: $black
    color: $white

input.dark-background.red
    border: 2px solid $red
    background: $black
    color: $white

input.error 
    background: rgba($red, .1)
    border-color: $red-1
    color: $red-1
       

input.done 
    background: rgba($green, .2)
    border-color: $light-green
    color: $black

input.has-text
    border-color: $blue

div.cr.input.basic
    position: relative
    height: 32px
    margin: 4px 2px 10px 2px
    vertical-align: middle 
    padding: 16px 0 8px 0 
    width: $m-input-adaptive

    span, input
        &:before
            text-align: left
            box-sizing: content-box
            vertical-align: baseline 

    span.cr-message.error
        &:before
            content: 'X'
            font-weight: bold
            position: relative
            display: inline-block
            font-size: 12px 
            width: 20px
            height: 36px
            color: $red-1

    span.cr-message.done
        &:after
            content: ''
            display: inline-block
            width: 4.5px
            font-weight: bold
            height: 9px
            border: solid $green 
            border-width: 0 2px 2px 0
            transform: rotate(45deg)


div.cr.input.label
    position: relative
    height: 32px
    vertical-align: middle 
    padding: 16px 0 8px 0 
    width: $m-input-adaptive
    div.label
        &:before
        width: 100px
        padding: 2px 2px 2px 2px
        text-align: center
        height: 32px
        display: inline-block
        background: lighten($gray, 30)
        color: $black
        border-radius: 2px


    


/*-----------------------------------MATERIAL INPUT -------------------------*/

.cr-material-field
    position: relative 
    height: 52px
    padding: 16px 0 8px 0
    width: $m-input-adaptive

.cr-material-field
    &:after, &:before
        content: ''
        height: 1px 
        width: $m-input-adaptive
        background-color: #e7e7e7
        position: absolute
        bottom: 6px
        -webkit-transition: height 0.3s ease-out
        -o-transition: height 0.3s ease-out
        -moz-transition: height 0.3s ease-out
        transition: height 0.3s ease-out 
        left: 0 

.cr-material-field
    &:after 
        background-color: $accent
        transform: scaleX(0)
        -webkit-transition: transform 0.3s
        -o-transition: transform 0.3s
        -moz-transition: transform 0.3s
        transition: transform 0.3s

.is-focused .m-label
    color: $accent


.is-focused, .m-label
    &:after
        transform: scaleX(1)
        height: 2px

.has-label .m-label
    transform: translateY(0) scale(0.75)

.m-input
    position: relative 
    display: block 
    width: $m-input-adaptive
    height: 38px
    padding-bottom: 2px
    padding-top: 0px
    padding-right: 0px
    padding-left: 0px
    font-family: 'Nunito', open-sans
    line-height: 16px
    font-size: 16px
    
    background: transparent
    outline: none 
    border: none
    -webkit-appearance: none 

.m-label
    position: relative 
    margin: 0
    color: lighten($black, 75)

    line-height: 16px
    font-weight: 400px
    font-size: 16px
    display: block

    transform: translateY(24px)

    -webkit-transition: transform 0.3s, font-size 0.3s
    -o-transition: transform 0.3s, font-size 0.3s
    -moz-transition: transform 0.3s, font-size 0.3s
    transition: transform 0.3s, font-size 0.3s

    transform-origin: 0 50%

span.m-cr-state[data-error].error
    &:before
        content: attr(data-error)
        width: 30px
        heigh: 20px
        position: relative
        color: $red
        display: none
        visibility: hidden
        white-space: nowrap
        font-size: 12px

span.m-cr-state[data-positive].done
    &:before
        content: attr(data-positive)
        width: 30px
        height: 20px
        position: relative 
        color: $green
        display: none 
        visibility: hidden 
        white-space: nowrap
        font-size: 12px

span.m-cr-state.error.show
    &:before
        display: block
        visibility: visible

span.m-cr-state.done.show
    &:before
        display: block
        visibility: visible


input.medium
    width: 250px

input.large 
    width: 320px

input.adaptive
    width: $m-input-adaptive


input.cr.input.gold
    border: 0.5px solid $gold 

input.cr.input.green
    border: 0.5px solid $green

input.cr.input.error
    border: 0.5px solid $red