div.cr.loader.circular 
	position: relative 
	border: 5px solid lighten($gray, 25)
	border-top: 5px solid lighten($black, 30)
	width: 30px 
	height: 30px 
	border-radius: 50%

	margin: 2px 0 2px 0
	background: none 
	-webkit-transition: transform 0.3s ease-out 
	-ms-transition: transform 0.3s ease-out
	transition: transform 0.3s ease-out 

	-webkit-animation: transform 0.3s ease-out
	-ms-transition: transform 0.3s ease-out
	animation: spin 2s linear infinite
div.cr.loader.circular.blue 
	border-top-color: $blue !important
	border-color: lighten($blue, 30)
div.cr.loader.circular.red 
	border-top-color: $red !important
	border-color: lighten($red, 30)
div.cr.loader.circular.green 
	border-top-color: $green !important
	border-color: lighten($green, 50)
div.cr.loader.circular.teal 
	border-top-color: $teal !important
	border-color: lighten($teal, 60)
div.cr.loader.circular.amber 
	border-top-color: $amber !important
	border-color: lighten($amber, 30)
div.cr.loader.circular.yellow 
	border-top-color: $yellow !important
	border-color: lighten($yellow, 30)
div.cr.loader.circular.purple 
	border-top-color: $purple !important
	border-color: lighten($purple, 50)
div.cr.loader.circular.indigo 
	border-top-color: $indigo !important
	border-color: lighten($indigo, 40)
div.cr.loader.circular.gold 
	border-top-color: $gold !important
	border-color: lighten($gold, 40)
div.cr.loader.circular.pink 
	border-top-color: $pink !important
	border-color: lighten($pink, 40)

div.cr.loader.screen.circular 
	position: fixed 
	top: 40% 
	left: 47% 
	border: 5px solid rgba($gray, .1)
	z-index: 201

	width: 50px 
	height: 50px 
	border-radius: 50% 

	margin: 0 auto 
	background: none 

	-webkit-transition: transform 0.3s ease-out 
	-ms-transition: transform 0.3s ease-out
	transition: transform 0.3s ease-out 

	-webkit-animation: transform 0.3s ease-out
	-ms-transition: transform 0.3s ease-out
	animation: spin 2s linear infinite

div.cr.loader.circular.inline 
	display: inline-block !important 

div.cr.loader.circular.x-small
	width: 15px
	height: 15px 
div.cr.loader.circular.small 
	width: 20px 
	height: 20px 
div.cr.loader.circular.large 
	width: 50px 
	height: 50px 
div.cr.loader.circular.x-large 
	width: 80px 
	height: 80px

div.cr.loader.circular.fast 
	-webkit-animation: spin 1s linear infinite 
	-ms-animation: spin 1s linear infinite 
	animation: spin 1s linear infinite 
div.cr.loader.circular.s-fast 
	-webkit-animation: spin 0.5s linear infinite 
	-ms-animation: spin 0.5s linear infinite 
	animation: spin 0.5s linear infinite 

div.cr.loader.circular.dark-bg
	border: 5px solid rgba($white, .4) 
	border-top: 5px solid $white !important

div.cr.loader.circular.colored 
	-webkit-transition: border-color 0.3s ease-out
	-ms-transition: border-color 0.3s ease-out
	transition: border-color 0.3s ease-out

	-webkit-animation: spinColor 2s linear infinite 
	-ms-animation: spinColor 2s linear infinite 
	animation: spinColor 2s linear infinite 


div.cr.loader.screen.pulse 
	position: fixed 
	left: 47% 
	top: 40% 
	z-index: 201
	margin: 0 auto 

	-webkit-transition: opacity 0.3s ease-out 
	-ms-transition: opacity 0.3s ease-out
	transition: opacity 0.3s ease-out

	width: 40px 
	height: 40px 
	background: lighten($black, 30)
	border-radius: 50% 
	-webkit-animation: pulse 1s infinite ease-in-out 
	-ms-animation: pulse 1s infinite ease-in-out
	animation: pulse 1s infinite ease-in-out 


div.cr.loader.screen.bouncy
	width: 40px
	height: 40px 
	box-sizing: border-box 
	border-radius: 50% 
	background: $red

	position: fixed 
	top: 40% 
	left: 47.5%

	
	z-index: 201
	-webkit-transition: background 0.3s ease-out, transform 0.3s ease-out, opacity 0.3s ease-out
	-ms-transition: background 0.3s ease-out, transform 0.3s ease-out, opacity 0.3s ease-out
	transition: background 0.3s ease-out, transform 0.3s ease-out, opacity 0.3s ease-out

	-webkit-animation: bouncy 2s  infinite  ease-in-out
	-ms-transition: bouncy 2s  infinite  ease-in-out
	animation: bouncy 2s  infinite  ease-in-out

div.load-shadow 
	position: fixed 
	height: 9px
	z-index: 201 !important 
	top: 47% 
	left: 47.4% 
	background: $black 
	width: 42px
	border-radius: 50% 
	filter: blur(5px)
	animation: growShadow 2s infinite ease-in-out



div.cr.loader.screen.bouncy.fast 
	-webkit-animation: bouncy 1s  infinite  ease-in-out
	-ms-transition: bouncy 1s  infinite  ease-in-out
	animation: bouncy 1s  infinite  ease-in-out
div.cr.loader.screen.bouncy.s-fast 
	-webkit-animation: bouncy 0.5s  infinite  ease-in-out
	-ms-transition: bouncy 0.5s  infinite  ease-in-out
	animation: bouncy 0.5s  infinite  ease-in-out

div.cr.loader.screen.dots
	width: 80px 
	text-align: center 
	margin: 0 auto 
	position: fixed
	-webkit-transition: opacity 0.3s ease-out 
	-ms-transition: opacity 0.3s ease-out 
	transition: opacity 0.3s ease-out 
	z-index: 201
	left: 46% 
	top: 40%
	animation: fadeIn 0.3s ease-out 
	div.dot
		width: 20px 
		height: 20px
		border-radius: 50% 
		display: inline-block
		-webkit-animation: dots 1.4s ease-in-out 0s infinite both 
		-ms-animation: dots 1.4s ease-in-out 0s infinite both 
		animation: dots 1.4s ease-in-out 0s infinite both 
	div.d1 
		-webkit-animation-delay: -0.32s 
		-ms-animation-delay: -0.32s
		animation-delay: -0.32s
	div.d2 
		-webkit-animation-delay: -0.16s 
		-ms-animation-delay: -0.16s
		animation-delay: -0.16s
span.load-overlay 
	position: fixed 
	z-index: 200 
	top: 0 
	left: 0 
	width: 100% 
	height: 100vh 
	-webkit-transition: opacity 0.3s ease-out 
	-ms-transition: opacity 0.3s ease-out
	transition: opacity 0.3s ease-out 
	opacity: 1 
	-webkit-animation: fadeIn 0.4s ease-in-out 
	-ms-animation: fadeIn 0.4s ease-in-out 
	animation: fadeIn 0.4s ease-in-out 

span.load-overlay.hide 
	opacity: 0 

div.cr.loader.screen.balls 
	position: fixed 
	z-index: 201 
	left: 47% 
	-webkit-transition: opacity 0.3s ease-out 
	-ms-transition: opacity 0.3s ease-out
	transition: opacity 0.3s ease-out
	top: 40% 
	height: 50px 
	width: 50px 
	margin: 0 auto 
	-webkit-animation: spinRotate 1s  infinite 
	-moz-animation: spinRotate 1s  infinite 
	-ms-animation: spinRotate 1s  infinite 
	animation: spinRotate 1s  infinite 	

	&:before, &:after 
		content: ''
		border-radius: 50% 
		-webkit-transition: transform 0.3s ease-out
		-ms-transition: transform 0.3s ease-out
		transition: transform 0.3s ease-out
		display: block 
		height: 20px 
		width: 20px 

	&:before 
		animation: ball1 1s infinite 
		background: #cb2025
		box-shadow: 30px 0 0 #f8b334 
		margin-bottom: 10px 

	&:after 
		animation: ball2 1s infinite 
		background: #2196F3
		box-shadow: 30px 0 0 #4CAF50

div.cr.loader.screen 
	@media screen and (max-width: 471px)
		margin-left: -20px !important 


div.cr.linear.loader 
	width: 280px 
	position: relative
	margin: 4px 2px 2px 0
	height: 6px 
	border-radius: 4px
	box-sizing: border-box 
	background: lighten($gray, 32)
	color: lighten($black, 30)
	overflow: hidden
	div.progress
		box-sizing: border-box 
		width: 0% 
		position: absolute
		max-width: 100% 
		overflow: hidden
		border-radius: 8px 
		height: 100% 
		background: lighten($black, 30)
		-ms-transition: width 0.8s ease-out, left 0.4s ease-out
		-webkit-transition: width 0.8s ease-out, left 0.4s ease-out
		transition: width 0.8s ease-out, left 0.4s ease-out

	div.progress.indeterminate 
		animation: charging1 1.1s infinite ease-in-out


div.cr.linear.loader.adaptive
	width: 100% 

div.cr.linear.loader.blue 
	background: lighten($blue, 30)
	div.progress
		background: $blue 
div.cr.linear.loader.red 
	background: lighten($red, 30)
	div.progress
		background: $red
div.cr.linear.loader.green 
	background: lighten($green, 50)
	div.progress
		background: $green
div.cr.linear.loader.yellow 
	background: lighten($yellow, 30)
	div.progress
		background: $yellow
div.cr.linear.loader.teal 
	background: lighten($teal, 60)
	div.progress
		background: $teal
div.cr.linear.loader.purple 
	background: lighten($purple, 50)
	div.progress
		background: $purple
div.cr.linear.loader.pink 
	background: lighten($pink, 30)
	div.progress
		background: $pink 
div.cr.linear.loader.gold 
	background: lighten($gold, 35)
	div.progress
		background: $gold 
div.cr.linear.loader.amber 
	background: lighten($amber, 30)
	div.progress
		background: $amber 
div.cr.linear.loader.black 
	div.progress
		background: $black 









