div.cr.modal
    position: fixed  
    border-radius: 4px 
    width: 500px
    transform: translate(-50%, -50%)
    min-height: 200px
    top: 50% 
    left: 50% 
    display: none 
    z-index: 200 
    overflow: hidden 
    -webkit-transition: transform 0.4s ease-out, opacity 0.4s ease-out, border-color 0.6s ease-out
    -moz-transition: transform 0.4s ease-out, opacity 0.4s ease-out, border-color 0.6s ease-out
    -o-transition: transform 0.4s ease-out, opacity 0.4s ease-out, border-color 0.6s ease-out 
    transition: transform 0.4s ease-out, opacity 0.4s ease-out, border-color 0.6s ease-out
    box-shadow: 1px 1px 1px 1px rgba($gray, .3), -1px 1px 1px 1px rgba($gray, .3)
    background: darken($white, 1)
    color: lighten($black, 30)

    @media screen and (max-width: 794px)
        width: 90% !important


    .center 
        text-align: center 

    i.close 
        position: absolute 
        font-weight: bold 
        right: 0 
        top: 0 
        z-index: 1
        font-size: 16px 
        padding-top: 5px
        padding-right: 5px 
        cursor: pointer 

    div.modal-head 
        position: relative 
        top: 0 
        box-sizing: border-box
        width: 100% 
        font-weight: bold
        padding: 10px 5px 10px 5px
        color: lighten($black, 30)
        background: lighten($gray, 25) 

    div.modal-head.blue
        background: $blue 
        color: $white 
    div.modal-head.green 
        background: $green 
        color: $white 
    div.modal-head.white 
        background: $white 
        color: $black 
    div.modal-head.red
        background: $red 
        color: $white 
    div.modal-head.indigo 
        background: $indigo 
        color: $white 
    div.modal-head.purple 
        background: $purple 
        color: $white 
    div.modal-head.amber 
        background: $amber 
        color: $white 
    div.modal-head.yellow 
        background: $yellow 
        color: $black 
    div.modal-head.black 
        background: $black 
        color: $white 
    div.modal-head.gold 
        background: $gold 
        color: $white 
    div.modal-head.teal 
        background: $teal 
        color: $white 
    div.modal-head.pink 
        background: $pink 
        color: $white
    div.modal-body 
        position: relative 
        box-sizing: border-box 
        padding: 10px 10px 10px 10px 
        min-height: 118px
        max-height: calc(100vh - 110px)
        overflow: hidden 
        width: 100% 
        color: lighten($black, 30)

    div.modal-body.blue
        background: $blue 
        color: $white 
    div.modal-body.green 
        background: $green 
        color: $white 
    div.modal-body.white 
        background: $white 
        color: $black 
    div.modal-body.red
        background: $red 
        color: $white 
    div.modal-body.indigo 
        background: $indigo 
        color: $white 
    div.modal-body.purple 
        background: $purple 
        color: $white 
    div.modal-body.amber 
        background: $amber 
        color: $white 
    div.modal-body.yellow 
        background: $yellow 
        color: $black 
    div.modal-body.black 
        background: $black 
        color: $white 
    div.modal-body.gold 
        background: $gold 
        color: $white 
    div.modal-body.teal 
        background: $teal 
        color: $white 
    div.modal-body.pink 
        background: $pink 
        color: $white

    div.modal-footer 
        position: relative 
        height: auto 
        box-sizing: border-box 
        padding: 5px 5px 5px 5px 
        width: 100% 
        font-weight: bold
        border-top: 1px solid rgba($gray, .4)
        color: lighten($black, 30)
        display: inline-block
        div.cr.button 
            box-sizing: border-box !important
        button.cr.button 
            box-sizing: border-box !important 
    div.modal-footer.no-line
        border-top: none
    
    div.modal-footer.blue
        background: $blue 
        color: $white 
    div.modal-footer.green 
        background: $green 
        color: $white 
    div.modal-footer.white 
        background: $white 
        color: $black 
    div.modal-footer.red
        background: $red 
        color: $white 
    div.modal-footer.indigo 
        background: $indigo 
        color: $white 
    div.modal-footer.purple 
        background: $purple 
        color: $white 
    div.modal-footer.amber 
        background: $amber 
        color: $white 
    div.modal-footer.yellow 
        background: $yellow 
        color: $black 
    div.modal-footer.black 
        background: $black 
        color: $white 
    div.modal-footer.gold 
        background: $gold 
        color: $white 
    div.modal-footer.teal 
        background: $teal 
        color: $white 
    div.modal-footer.pink 
        background: $pink 
        color: $white
       

div.cr.modal.opened 
    -webkit-animation: appear 0.4s ease-in-out !important 
    -moz-animation: appear 0.4s ease-in-out !important 
    -o-animation: appear 0.4s ease-in-out !important 
    animation: appear 0.4s
    display: block 

div.cr.modal.shadow
    box-shadow: 0 8px 16px rgba($black, .3) !important

span.overlay 
    position: fixed
    z-index: 199 
    top: 0 
    left: 0 
    width: 100%
    height: 100vh
    transition: opacity 0.3s ease-out 
    opacity: 1
    background: rgba($black, 0.3)
    -webkit-animation: fadeIn 0.4s ease-in-out
    -moz-animation: fadeIn 0.4s ease-in-out 
    -o-animation: fadeIn 0.4s ease-in-out 
    animation: fadeIn 0.4s ease-in-out 

span.overlay.hide 
    opacity: 0


/*Modal login*/
div.cr.modal.small
    width: 350px 
    margin-top: -80px

div.cr.modal.medium 
    width: 600px 


div.cr.modal.big 
    width: 800px 
    margin-top: -80px 

div.cr.modal.content-scroll
    div.modal-body 
        overflow-y: scroll !important 
        -webkit-overflow-scrolling: touch !important 