@import 'variables'

div.cr.snackbar

	visibility: hidden
	position: absolute 
	font-size: 14px
	font-family: 'Nunito', open-sans
	background-color: lighten($black, 25)
	color: $white
	height: 20px
	z-index: 1


	justify-content: space-around
	border-radius: 2px
	display: flex
	position: fixed

	
	box-shadow: 0 2px 1px -1px $gray
	
	margin-left: -80px
	min-width: 250px
	padding: 16px 
	margin: 0 auto
	left: 50%
	margin-right: -50%
	transform: translate(-50%, -50%)

	button.snack.action
		color: $yellow 
		font-weight: bold
		font-size: 12px
		outline: none
		border: none 
		background: none
		padding-left: 10px
		transition: background-color 0.3s
		&:active
			background-color: lighten($black, 22)


	@media screen and (max-width: 767px)
		bottom: 0%
		bottom: -30px
		
		@-webkit-keyframes fadein 
			from
				bottom: -60px
			to 
				bottom: -30px
				opacity: 1
	
		@-ms-keyframes fadein 
			from  
				bottom: -60px 
			to 
				bottom: -30px 
				opacity: 1 

		@keyframes fadein
			from
				bottom: -60px
			to 
				bottom: -30px
				opacity: 1


	@media screen and (min-width: 768px)
		bottom: 0%
		bottom: -30px
		
		@-webkit-keyframes fadein 
			from
				bottom: -60px
			to 
				bottom: -30px
				opacity: 1

		@-ms-keyframes fadein 
			from  
				bottom: -60px 
			to 
				bottom: -30px
				opacity: 1

		@keyframes fadein
			from
				bottom: -60px 
			to 
				bottom: -30px
				opacity: 1



	@media screen and (max-width: 1199px) and (min-width: 992px)
		bottom: 4%
		@-webkit-keyframes fadein 
			from
				bottom: 0
			to 
				bottom: 30px
				opacity: 1

		@keyframes fadein
			from
				bottom: 0 
			to 
				bottom: 30px
				opacity: 1


	@media screen and (min-width: 1200px)
		bottom: 4%
		@-ms-keyframes fadein 
			from 
				bottom: 0 
			to 
				bottom: 30px 
				opacity: 1 

		@-webkit-keyframes fadein 
			from
				bottom: 0
			to 
				bottom: 30px
				opacity: 1

		@keyframes fadein
			from
				bottom: 0 
			to 
				bottom: 30px
				opacity: 1


div.cr.snackbar.white 
	background-color: darken($white, 1)
	color: lighten($black, 30)
	button.snack.action 
		color: lighten($black, 30)
		&:active
			background-color: darken($white, 5)


div.cr.snackbar.i-green 
	background-color: $intense-green
	color: $intense-purple
	font-weight: bold 
	button.snack.action
		color: $intense-purple
		&:active
			background-color: darken($intense-green, 5)

div.cr.snackbar.yellow
	background-color: $yellow
	color: lighten($black, 25)
	button.snack.action 
		color: lighten($black, 25)
		&:active
			background-color: darken($yellow, 5) 