@import 'variables'

@-moz-keyframes appear 
    0% 
        display: none 
        opacity: 0
    1% 
        display: block
        opacity: 0
        transform: scale(0)
    100% 
        opacity: 1 !important
        transform: scale(1)

@-ms-keyframes appear 
    0% 
        display: none 
        opacity: 0
    1% 
        display: block
        opacity: 0
        transform: scale(0)
    100% 
        opacity: 1 !important
        transform: scale(1)

@-webkit-keyframes appear
    0% 
        display: none 
        opacity: 0
    1% 
        display: block
        opacity: 0
        transform: scale(0)
    100% 
        opacity: 1 !important
        transform: scale(1)

@keyframes appear 
    0% 
        display: none 
        opacity: 0
    1% 
        display: block
        opacity: 0
        transform: scale(0)
    100% 
        opacity: 1 !important
        transform: scale(1)


@-ms-keyframes fadeIn 
    0%
        opacity: 0 
    50% 
        opacity: 0.5 
    100%
        opacity: 1 !important  

@-webkit-keyframes fadeIn 
    0%
        opacity: 0 
    50% 
        opacity: 0.5 
    100%
        opacity: 1 !important 

@-moz-keyframes fadeIn 
    0%
        opacity: 0 
    50% 
        opacity: 0.5 
    100%
        opacity: 1 !important 

@keyframes fadeIn 
    0%
        opacity: 0 
    50% 
        opacity: 0.5 
    100%
        opacity: 1 !important 


@-ms-keyframes growAppear
    from 
        opacity: 0.1 
        transform: scale(0)
        display: none 

    to
        opacity: 1 !important 
        display: block
        height: auto 
        transform: scale(1)


@-webkit-keyframes growAppear
    from 
        opacity: 0.1 
        transform: scale(0)
        display: none 

    to
        opacity: 1 !important 
        display: block
        height: auto 
        transform: scale(1)

@keyframes growAppear 
    from 
        opacity: 0.1 
        transform: scale(0)
        display: none 

    to
        opacity: 1 !important 
        display: block
        height: auto 
        transform: scale(1)


@-ms-keyframes grow 
    from 
        z-index: 0
        transform: scale(1)
    to 
        z-index: 1
        transform: scale(1.03)

@-webkit-keyframes grow
    from 
        z-index: 0
        transform: scale(1)
    to 
        z-index: 1
        transform: scale(1.03)

@keyframes grow 
    from 
        z-index: 0
        transform: scale(1)
    to 
        z-index: 1
        transform: scale(1.03)


@-webkit-keyframes spin 
    from 
        transform: rotate(0deg)
    to 
        transform: rotate(360deg)
@-ms-keyframes spin 
    from 
        transform: rotate(0deg)
    to 
        transform: rotate(360deg)

@keyframes spin 
    from 
        transform: rotate(0deg)
    to 
        transform: rotate(360deg)

@keyframes spinColor
    0% 
        border-top: 5px solid $green
        transform: rotate(0deg)        
    35% 
        border-top: 5px solid $red
    
    80% 
        border-top: 5px solid $blue

    100% 
        border-top: 5px solid $green
        transform: rotate(360deg)

@-ms-keyframes spinColor
    0% 
        border-top: 5px solid $green
        transform: rotate(0deg)        
    35% 
        border-top: 5px solid $red
    
    80% 
        border-top: 5px solid $blue

    100% 
        border-top: 5px solid $green
        transform: rotate(360deg)

@-webkit-keyframes spinColor
    0% 
        border-top: 5px solid $green
        transform: rotate(0deg)        
    35% 
        border-top: 5px solid $red
    
    80% 
        border-top: 5px solid $blue

    100% 
        border-top: 5px solid $green
        transform: rotate(360deg)


@keyframes bouncy 
    0% 
        transform: scale(1)
        background: rgba($red, .8)
    50% 
        transform: scale(0.5)
        background: rgba($blue, .5)

    75% 
        transform: scale(1)
        background: rgba($blue, .8)

    100% 
        transform: scale(1)

@-webkit-keyframes bouncy 
    0% 
        transform: scale(1)
        background: rgba($red, .8)
    50% 
        transform: scale(0.5)
        background: rgba($blue, .5)

    75% 
        transform: scale(1)
        background: rgba($blue, .8)

    100% 
        transform: scale(1)

@-ms-keyframes bouncy 
    0% 
        transform: scale(1)
        background: rgba($red, .8)
    50% 
        transform: scale(0.5)
        background: rgba($blue, .5)

    75% 
        transform: scale(1)
        background: rgba($blue, .8)

    100% 
        transform: scale(1)


@-webkit-keyframes pulse 
    0% 
        -webkit-transform: scale(0)
        transform: scale(0)
    100% 
        -webkit-transform: scale(1)
        opacity: 0
        transform: scale(1)


@-ms-keyframes pulse 
    0% 
        -webkit-transform: scale(0)
        transform: scale(0)
    100% 
        -webkit-transform: scale(1)
        opacity: 0
        transform: scale(1)

@keyframes pulse 
    0% 
        -webkit-transform: scale(0)
        transform: scale(0)
    100% 
        -webkit-transform: scale(1)
        opacity: 0
        transform: scale(1)


@-webkit-keyframes dots 
    0%, 80%, 100% 
        transform: scale(0)
    40%
        transform: scale(1)

@-ms-keyframes dots 
    0%, 80%, 100% 
        transform: scale(0)
    40%
        transform: scale(1)

@keyframes dots 
    0%, 80%, 100% 
        transform: scale(0)
    40%
        transform: scale(1)




